# Matlab cache
*.slxc
*.prj
*.slx.*
*.asv
*.m~
*_msf.*
**/Cache_temp
git.m

# Documentation
Docs/source/simulink_images/
Docs./build/

# Folders
resources/
slprj/

# Files
Run_All_Rishi.m
Extra/*.mp4
**/.DS_Store